{% extends 'base.html' %}
{% block content %}
<script>
function total(){
    
      var product=document.getElementById("p_name").value
     var quantity=document.getElementById("p_quantity").value
     var total=0 
     if (product=="pencil") {
        total=quantity*4
      } else if (product=="notebook") {
        total=quantity*6
      } else {
        total=quantity*8
      }
      document.getElementById("total_value").value=total
                }
  </script>


     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/azure-icon.svg') }}" alt="Azure Logo" width="192" height="192"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">Welcome to Azure</h1>            
          </div>


          <div class="container text-center">
            <div class="row">
              <div class="col">
                <form method="post" action="{{url_for('dd_to_cart_page')}}">
                
                        <label for="p_name">Choose Product</label><br>
                        <select id="p_name" name="p_name" class="form-control" onchange="total()">
                          <option value="notebook">Note Book</option>
                          <option value="pencil">pencil</option>
                          <option value="printerpaper">Printer Paper</option>
                        </select><br>
                          <label for="p_quantity">Quantity</label>
                          <input type="number" class="form-control" id="p_quantity" name="p_quantity" style="max-width: 256px;" onchange="total()" required>
                         <br>
                          <label for="total_value">Total</label>
                        <input type="text" class="form-control" id="total_value" name="total_value" style="max-width: 256px;">
                     
                      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                        <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Add to Shopping Cart</button>
                      </div>            

              </form>
              </div>
              <div class="col">
                <form method="post" action="{{url_for('dd_to_cart_page')}}">

                        <label for="p_name">Choose Product</label>
                        <select id="p_name" name="p_name" class="form-control" onchange="total()">
                          <option value="notebook">Note Book</option>
                          <option value="pencil">pencil</option>
                          <option value="printerpaper">Printer Paper</option>
                        </select><br>
                          <label for="p_quantity">Quantity</label>
                          <input type="number" class="form-control" id="p_quantity" name="p_quantity" style="max-width: 256px;" onchange="total()" required>
                         <br>
                          <label for="total_value">Total</label>
                        <input type="text" class="form-control" id="total_value" name="total_value" style="max-width: 256px;">
 
                      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                        <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Add to Shopping Cart</button>
                      </div>            

              </form>
              </div>
            </div>
          </div>
     </main>      

{% endblock %}